<!doctype html>


<html>
<head>
    <title>Wegmans Items</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="/js/map.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

            //Populate map with item locations
            {{#user.items}}
                draw("{{& aisle}}", "{{&side}}");
            {{/user.items}}

            //Render map
            render();

            //Setup delete button
            $('#itemlist table tbody').on('click', 'td button', deleteitem);
        });
    </script>
</head>
<body>
<div class="ui secondary pointing menu">
  <a class="active item" href='/profile'>
    List
  </a>
  <a class="item" href='/recipes'>
    Recipes
  </a>
  <a class="item" href='/account'>
    Profile
  </a>
  <div class="right menu">
    <a class="ui item" href="/logout">
      Logout
    </a>
  </div>
</div>

<div class="ui grid">
  <div class="four wide column">
      <div style="padding:35px;">
        <canvas id="canvasmap" width="400" height="350" 
            style="border:1px solid #000000;">
        </canvas>
      </div>
  </div>
  <div class="eight wide column">

    <!--Add item to list-->
    <form class="ui form" action="/additem" method="POST">
      <div class="field">
        <label>Item add</label>
        <input type="text" name="searchname" placeholder="Food name">
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>

    <!--Render item table-->
    <div id="itemlist">
        <table class="ui celled table">
          <thead>
            <tr><th>Food</th>
            <th>Price</th>
            <th>Remove</th>
          </tr></thead>
          <tbody>
            {{#user.items}}
            <tr>
              <td data-label="Food">{{name}}</td>
              <td data-label="Price">0</td>
              <td data-label="Remove">
                  <button class="deleteitem ui icon button" rel="{{_id}}">
                      <i class="close icon"></i></button>
              </td>
            {{/user.items}}
          </tbody>
        </table>
    </div>
</div>
  <div class="four wide column"></div>
</div>
</body>
</html>

<script>
    function deleteitem(event) {
        event.preventDefault();
        $.ajax({
            type: 'DELETE',
            url: '/deleteitem/' + $(this).attr('rel')
        }).done(function (response) {
            if (response) {
                console.log(response);
            }
            else {
                location.reload(true);
            }
        });
    };

</script>
